# secrets
.env

# node
node_modules/
yarn-error.log

# TypeScript
out/

# docs
docs/exposé.pdf
docs/exposé.tex

# dowdep
cache/
cache-*/
output/
samples/
samples-*/

# VS Code Extension
src/vscode-extension/.vscode-test/**
src/vscode-extension/.vscodeignore
src/vscode-extension/.yarnrc
