# secrets
.env

# node
node_modules/
yarn-error.log

# TypeScript
out/

# docs
docs/exposé.pdf
docs/exposé.tex

# typescript
out/

# dowdep
cache*/
output/
samples*/

# VS Code Extension
packages/vscode-extension/.vscode-test/**
packages/vscode-extension/.vscodeignore
packages/vscode-extension/.yarnrc
